 .primary {
   color: orange; 
 }

 .change-location-form {
  margin-bottom: 20px
 }

 .input-button-margin-top {
  margin-top: 5px !important
 }
 
 .header-margin-top {
  margin-top: 20px !important
 }

 .padding-top {
   margin-top: 150px
 }
 
 .login-box-padding {
  margin-top: 50px
 }

 .grey-color {
  background-color: grey; 
 }

 .logo-text-center{
  text-align: center !important
 }

 .margin-left-100 {
   margin-left: 110
 }

 .teal {
  color: #00b5ad
 }